body{
    font-family: 'Poppins', sans-serif;
  
}
header{
    background-color: #264653;
}

.header .banner .title .bgcolor{
     background-color: #E76F51;
}
.feature-container .feature .grayscale{
    filter:grayscale(100%);
}
.carousel-change-color{
    background-color: #264653;
}